body {
  position: relative;
  padding: 0px 40px 20px 40px;
  margin: 0px;
}
.header {
  font-weight: 900;
  margin: 20px 0px;
}
.gridContainer {
  display: grid;
  grid-template-columns: 1fr, 1fr, 1fr, 1fr;
  grid-template-rows: 2fr, 2fr, 2fr;
  gap: 10px;
}
.card-container {
  display: flex;
  flex-direction: row;

  border: solid 1px black;
  border-radius: 5px;
}
h2,
a,
p {
  margin: 5px auto;
}
h2 {
  margin-top: 15px;
}
.profile-pic {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 18px 15px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(100, 100, 100, 0.4);
}
.modal {
  width: 375px;
  margin: 15% auto auto;
  position: relative;
  text-align: center;
  background: #fff;
  border: 1px solid #778;
  border-radius: 5px;
  padding: 30px 20px;
}
.modalClose {
  position: absolute;
  right: 15px;
  top: 5px;
  cursor: pointer;
}
.hidden {
  display: none;
}

/* this it the grid setup only */
div[data-index="0"],
.cc-0 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
div[data-index="1"],
.cc-1 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
div[data-index="2"],
.cc-2 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}
div[data-index="3"],
.cc-3 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
div[data-index="4"],
.cc-4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
div[data-index="5"],
.cc-5 {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
div[data-index="6"],
.cc-6 {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}
div[data-index="7"],
.cc-7 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}
div[data-index="8"],
.cc-8 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}
div[data-index="9"],
.cc-9 {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}
div[data-index="10"],
.cc-10 {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
}
div[data-index="11"],
.cc-11 {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}
